@CHARSET "ISO-8859-1";
.preview-image {
	/*border: 1px solid #CDCDCD;*/
	max-width: 64px;
	max-height: 64px;
}
.preview-image-container {
	width: 64px;
	height: 64px;
	margin: 5px;
}
.preview-image-right {
	float: right;
}
.preview-image-left {
	float: left;
}
.preview-image-square{}
.preview-image-round{border-radius: 50%;}
.preview-image-ellipse{border-radius: 25%;}
.preview-image-square-round{border-radius: 5px}
.preview-image-leaf-left{
	border-top-left-radius: 25px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 5px;
}
.preview-image-leaf-right{
	border-top-left-radius: 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 25px;
}